<% if resource.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div>
      <strong><%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
      </strong>

      <ul class="list-group">
        <% resource.errors.full_messages.each do |message| %>
          <li class="list-group-item list-group-item-warning"><%= message %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
