<div class="py-5 my-auto text-center w-75 mx-auto">
  <h1 class="display-5 fw-bold"><%= I18n.t("title") %></h1>
  <h1 class="display-5 fw-bold"></h1>
  <div class="col-lg-6 mx-auto w-100">
    <p class="lead mb-4"><%= I18n.t(:description) %></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <% unless user_signed_in? %>
        <%=  link_to I18n.t(:'devise.login_btn'), new_user_session_path, class:"btn btn-light px-4 gap-3"  %>
        <%=  link_to I18n.t(:'devise.signup_btn'), new_user_registration_path, class:"btn btn-dark px-4"  %>
      <% end %>
    </div>
  </div>
</div>