<div class="card bg-dark p-4 my-2">
  <div class="d-flex my-auto">
    <div class="text-start">
      <%= link_to "#{post.title}", post, class:"text-light text-decoration-none h1 fw-bold" %>
        <p class="card-text">
          <strong><%= post.content %></strong>
        </p>
    </div>
  </div>
</div>